# Swaplace deployed contracts addresses
SWAPLACE_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# These are public known private keys and are here as an example.
# Funds in these accounts are at risk of being stolen.
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
SWAP_CREATOR_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
SWAP_ACCEPTEE_PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a

# Etherscan and similar services API keys
ETHERSCAN_API_KEY=YourApiKeyToken

# EVM compatible chains and their RPC URLs
# TESTNET
GOERLI_RPC_URL=https://ethereum-goerli.publicnode.com
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
MUMBAI_RPC_URL=https://polygon-mumbai-bor.publicnode.com
FUJI_RPC_URL=https://avalanche-fuji-c-chain.publicnode.com
BNB_TESTNET_RPC_URL=https://bsc-testnet.publicnode.com

# MAINNET
ETH_RPC_URL="https://eth.llamarpc.com"
BNB_RPC_URL=https://binance.llamarpc.com
AVAX_RPC_URL=https://avalanche-mainnet.infura.io
MATIC_RPC_URL=https://polygon-rpc.com/
FTM_RPC_URL=https://rpc.ftm.tools/
ASTR_RPC_URL=https://astar-rpc.dwellir.com/
ARB_RPC_URL=https://arbitrum.llamarpc.com
OP_RPC_URL=https://optimism.llamarpc.com
GLMR_RPC_URL=https://moonbeam.publicnode.com
ONE_RPC_URL=https://api.harmony.one
GNOSIS_RPC_URL=https://gnosis.publicnode.com
CELO_RPC_URL=https://forno.celo.org
BASE_RPC_URL=https://base.llamarpc.com
LINEA_RPC_URL=https://rpc.linea.build
ZIL_RPC_URL=https://api.zilliqa.com
MANTLE_RPC_URL=https://mantle.publicnode.com
METER_RPC_URL=https://rpc.meter.io
PLS_RPC_URL=https://pulsechain.publicnode.com
TELOS_RPC_URL=https://mainnet.telos.net/evm
FLARE_RPC_URL=https://flare-api.flare.network/ext/C/rpc