# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Env file avoid accidentally commiting secrets and passwords.
.env

# Dependencies.
/node_modules

# Build output of hardhat when using `npx harhat compile`.
/artifacts
/cache

# Typechains assists with type safety when interacting with contracts.
/typechain-types

# Build output of crytic-compile when using echidna.
/crytic-export